{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4 text-center">{{current_user.username}}'s Account</h1>
  <p></p>

  <img class="img-fluid mx-auto d-block" align="center" src="{{url_for("static", filename="profile_pictures/" + current_user.userpicture)}}">
  <hr class="my-4">

  <form action="" method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}

      <div class="form-group">
        <label>Change Username</label>
        {{form.username(class="form-control", placeholder="Enter new username")}}
      </div>

      <div class="form-group">
        <label>Change Picture</label>
        {{form.userpicture(class="form-control-file")}}
      </div>

      {{form.submit(class="btn btn-primary")}}
  </form>
</div>
{% endblock %}
