{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Create Post</h1><hr class="my-4">

  <form action="" method="POST">
      {{form.hidden_tag()}}

      <div class="form-group">
        {{form.title.label}} {{form.title(class_="form-control form-control-lg", placeholder="Enter title")}}
        <p></p>
        {{form.body.label}} {{form.title(class_="form-control", placeholder="Enter text")}}
        <p></p>
        {{form.submit(class_="btn btn-outline-info")}}
      </div>
  </form>
{% endblock %}
