{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Beyond - The Blog</h1>
  </div>

  {% for blog_post in blog_posts.items %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2> <a class="card-title" href="{{url_for("blog_posts.blog_post", blog_post_id=blog_post.id)}}"></a>{{blog_post.title}}</h2>
        <a href="{{url_for("users.user_posts", username=blog_post.author.username)}}" class="btn btn-primary">Written by: {{blog_post.author.username}}</a>
        <p>Published on: {{blog_post.date.strftime("%Y-%m-%d")}}</p>
        <a class="btn btn-primary" href="{{url_for("blog_posts.blog_post", blog_post_id=blog_post.id)}}" class="btn btn-primary">Read Post</a>
      </div>
    </div>
  {% endfor %}

    <nav aria-label="Page Navigation">
      <ul class="pagination justify-content-center">
        {% for i in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if blog_posts.page == i %}
            <li class="page-item-disabled"><a class="page-link" href="{{url_for("core.index", page=i)}}">{{i}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for("core.index", page=i)}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

{% endblock %}
